@model Ogrenci
<h3 style="color:springgreen">Öğrenci Kaydedildi</h3>

<table width="70%" class="table table-bordered">
    <tr>
        <td width="20%">Öğrenci Ad</td>
        <td width="5%">:</td>
        <td>@Model.OgrAd</td>
    </tr>
    <tr>
        <td>Öğrenci Soyad</td>
        <td>:</td>
        <td>@Model.OgrSoyad</td>
    </tr>
        <tr>
        <td>Öğrenci No</td>
        <td>:</td>
        <td>@Model.OgrNo</td>
    </tr>
</table>